<div class="container">

    <h1>Click to edit</h1>
    
    <div *ngFor="let fund of tempFundList, let i = index">
        <div (click)="makeEditable(i)" *ngIf="fund[2]==false">
            {{fund[0]}} : {{fund[1]}} 
        </div>
        <div *ngIf="fund[2]==true && fund[0] !== 'description'">
            {{fund[0]}} :  <input (blur)="makeStatic(i)"  [(ngModel)]= "fund[1]"/>
        </div>
        <div *ngIf="fund[2]==true && fund[0] == 'description'">
            {{fund[0]}} :  <textarea [(ngModel)]="fund[1]" (blur)="makeStatic(i)"> </textarea>
        </div>
        <hr />
    </div>
    <button (click)="update()">update mutual fund</button>
</div>


